
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background: linear-gradient(to right, #f6c1d1, #1e1b29);
}


.navbar {
    background: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Cinzel', serif;
    font-size: 28px;
    font-weight: 700;
    color: #6a1b9a;
    letter-spacing: 2px;
}

.logo img {
    width: 45px;
}


.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}


.dropdown {
    position: relative;
    font-weight: 700;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 30px;
    right: 0;
    background: white;
    display: none;
    flex-direction: column;
    width: 120px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.dropdown-menu a {
    padding: 12px;
    text-decoration: none;
    color: black;
}

.dropdown-menu a:hover {
    background: #f0f0f0;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}


.container {
    padding: 40px;
}


.card {
 width: 90%;              /* makes it wider */
  max-width: 1200px;       /* limits too much stretch */
  min-height: 180px;       /* increases height */
  padding: 30px 40px;      /* space inside container */
  margin: 40px auto;       /* space outside */
  border-radius: 20px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card-text h1 {
    font-size: 38px;
    margin-bottom: 10px;
    color: #333;
}

.card-text p {
    color: gray;
    margin-bottom: 20px;
}


.year-buttons {
    display: flex;
    gap: 12px;
}

.year-buttons button {
    background: #6a1b9a;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.year-buttons button:hover {
    background: #4a148c;
}


.card-image img {
    width: 300px;
    border-radius: 10px;
}


.about-card p {
    font-size: 16px;
    line-height: 1.6;
}


.footer {
    background: linear-gradient(to right, #0f0c29, #302b63);
    color: white;
    text-align: center;
    padding: 60px 20px;
    border-radius: 30px 30px 0 0;
}

.footer h1 {
    margin-bottom: 20px;
}

.footer span {
    color: #00bfff;
}

.footer .address {
    margin-top: 15px;
    font-size: 14px;
}

.social-icons {
    margin-top: 25px;
}

.social-icons img {
    width: 35px;
    margin: 0 10px;
    cursor: pointer;
}
